@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    background-image: url(../imagens/fundo.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    scroll-behavior: smooth;
    overflow-x: hidden;
      
}

header{
    background-color: rgba(0, 0, 0, 0.521);
    
}

header > div#logo{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

}

header > div#logo > img{
    width: 300px;
    height: 100px;
    border-radius: 20px;
    margin: 15px;

}

header > nav{
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

header > nav > span{
    cursor: pointer;
}

header > nav > div#menu{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;

    
}

header > nav > div#menu > a{
    color: white;
    text-decoration: none;
    padding: 5px;
    width: 100%;
    text-align: center;

    border-top: 1px solid white;
}

header > nav > div#menu > a:hover{
    background-color: black;
    font-weight: bold;
}

main{
   background-color: white;
   height: 2000px;
   width: 90%;
   margin: auto;
   padding: 5px;
   border-radius: 10px;
}

main > button#btntopo{
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    background-color: green;
    color: white;
    border: 0px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.682);
}

main > button#btntopo:hover{
    border: 2px solid white;
}

section#slogan{
    padding-bottom: 20px;
}

section#slogan > h1{
    text-align: center;
    margin-bottom: 15px;
    background-image: linear-gradient(to right, rgba(0, 128, 0, 0.281), transparent);
    font-family: "Metal Mania", system-ui;
}

section#imagem > img{
    width: 100%;
    padding-bottom: 20px;
}

section#covers > h1{
    text-align: center;
    background-image: linear-gradient(to right, rgba(0, 128, 0, 0.281), transparent);
    font-family: "Metal Mania", system-ui;
}

section#covers > div#conteiner{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

section#covers > div#conteiner > div.musicas{
    padding: 15px;
}

section#covers > div#conteiner > div.musicas > h2{
    font-size: 0.75em;
    text-align: center;
    width: 120px;
    padding-bottom: 5px;
    font-family: "Metal Mania", system-ui;
}

section#covers > div#conteiner > div.musicas > img{
    width: 120px;
    height: 120px;

}

section#covers > div#conteiner > div.musicas > div#informacoes{
    text-align: left;
    width: 120px;
    background-color: lightgray;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.418);
}

section#covers > div#conteiner > div.musicas > div#informacoes > p{
    text-align: center;
    padding-bottom: 20px;
}

section#covers > div#conteiner > div.musicas > div#informacoes > div#youtube{
    text-align: center;
    color: purple;
}

div#informacoes > div#youtube > a{
    text-decoration: none;
}

div#informacoes > div#youtube > a:hover{
    text-decoration: underline;
    cursor: pointer;
}

section#video > h1{
    text-align: center;
    background-image: linear-gradient(to right, rgba(0, 128, 0, 0.281), transparent);
    font-size: 1.5em;
    margin: 15px 0px;
    font-family: "Metal Mania", system-ui;
}

section#video > iframe{
    width: 100%;
}

footer{
    color: white;
    background-color: black;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
}