@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    background-image: url(../imagens/fundo.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

header{
    background-color: rgba(0, 0, 0, 0.521);
    
}

header > div#logo{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

}

header > div#logo > img{
    width: 300px;
    height: 100px;
    border-radius: 20px;
    margin: 15px;

}

header > nav{
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

header > nav > span{
    cursor: pointer;
}

header > nav > div#menu{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;

    
}

header > nav > div#menu > a{
    color: white;
    text-decoration: none;
    padding: 5px;
    width: 100%;
    text-align: center;

    border-top: 1px solid white;
}

header > nav > div#menu > a:hover{
    background-color: black;
    font-weight: bold;
}

main{
   background-color: white;
   height: 2000px;
   width: 90%;
   margin: auto;
   padding: 5px;
   border-radius: 10px;
}

section#slogan{
    padding-bottom: 20px;
}

section > img{
    width: 100%;
    padding-bottom: 20px;
}

section > h1{
    text-align: center;
}

section > div#conteiner{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

section > div#conteiner > div.musicas{
    padding: 15px;
}

section > div#conteiner > div.musicas > h2{
    font-size: 0.75em;
    text-align: center;
    width: 120px;
    padding-bottom: 5px;
}

section > div#conteiner > div.musicas > img{
    width: 120px;
    height: 120px;

}

section > div#conteiner > div.musicas > div#informacoes{
    text-align: left;
    width: 120px;
    background-color: lightgray;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.418);
}

section > div#conteiner > div.musicas > div#informacoes > p{
    text-align: center;
    padding-bottom: 20px;
}

section > div#conteiner > div.musicas > div#informacoes > div#youtube{
    text-align: center;
    color: purple;
}

div#informacoes > div#youtube > a{
    text-decoration: none;
}

div#informacoes > div#youtube > a:hover{
    text-decoration: underline;
    cursor: pointer;
}

footer{
    color: white;
    background-color: black;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
}