@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    background-image: url(../imagens/fundo.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

header{
    background-color: rgba(0, 0, 0, 0.521);
    
}

header > div#logo{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

}

header > div#logo > img{
    width: 300px;
    height: 100px;
    border-radius: 20px;
    margin: 15px;

}

header > nav{
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

header > nav > span{
    cursor: pointer;
}

header > nav > div#menu{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;

    
}

header > nav > div#menu > a{
    color: white;
    text-decoration: none;
    padding: 5px;
    width: 100%;
    text-align: center;

    border-top: 1px solid white;
}

header > nav > div#menu > a:hover{
    background-color: black;
    font-weight: bold;
}

main{
   background-color: white;
   height: 100vh;
   width: 80%;
   margin: auto;
   padding: 5px;
   border-radius: 10px;
}

section > img{
    width: 100%;
}

footer{
    color: white;
    background-color: black;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
}